{% extends 'base/base.html' %}

{% block content %}
    <!-- POST CONTENT -->
    <div class="container py-5">
        <div class="post-container">
            {% if user.is_authenticated and user == post.author %}
                <button href="{% url 'pages:delete' post.id %}" class="btn btn-danger">DELETE</button>
            {% endif %}

            <!-- Back -->
            <a href="/" class="back-link text-muted">← Back to posts</a>

            <!-- Title -->
            <h1 class="post-title mt-3 mb-2">{{ post.title }}</h1>

            <!-- Meta -->
            <p class="post-meta">
                {{ post.created_at|date:"F d, Y" }}
            </p>

            <hr>

            <!-- Content -->
            <div class="post-content mt-4">
                {{ post.content|linebreaks }}
            </div>

        </div>
    </div>
{% endblock%}
 