{% extends 'base/base.html' %}

{% block content %}
<form method="post" action="." enctype="multipart/form-data">
    {% csrf_token %}
    <div>
        <label>Post Title:<br>
            {{ form.title }}
        </label>
    </div>
    <div>
        <label>Content:<br>
            {{ form.content }}
        </label>
    </div>
    <div>
        <label>keywords:<br>
            {{ form.keyword }}
        </label>
    </div>
    {% if form.errors or form.non_field_errors %}
        {% for field in form %}
            {% for error in form.non_field_errors %}
                <p>{{ field.label }}: {{error}}</p>
            {% endfor %}
        {% endfor %}

        {{ form.non_field_errors }}
    {% endif %}
    <div class="mt-4">
        <button type="submit" class="px-2 bg-orange-200 text-white font-bold border round-xl">Post</button>
    </div>
</form>
{% endblock %}