{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://cdn.tailwindcss.com"></script>

    <title>blog</title>
</head>
<body class="m-2">
    <nav class="py-5 px-2 bg-orange-200 text-white flex justify-between">
        <a href="/" class="font-bold">Blog</a>

        <div class="">
            <a href="/" class="px-2">Navigation</a>
            <a href="/" class="px-2">Navigation</a>
            <a href="{% url 'base:login' %}" class="px-2">Sign in</a>
            <a href="{% url 'pages:post_form' %}" class="px-2">Subscribe</a>
        </div>
    </nav> 
    {% block content %}
    {% endblock %}
    
</body>
</html>